doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://kit.fontawesome.com/ac81471b85.js")
  body
    block content
    script(src="http://localhost:3000/sdk/messenger.js")
    script(type="module" src="/javascripts/index.js")
