.header {
  position: relative;
  box-sizing: border-box;
  height: $header-height;
  border-bottom: 1px solid #ccc;
  padding: 8px 18px 8px 18px;
}

.header__search {
  position: relative;
  float: left;
}

.header__menu {
  float: right;
}