.modal {
  position: absolute;
  top: 0px; left: 0px;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 3;
  
  &--hidden {
    display: none;
  }

  &--visible {
    display: block;
  }

  &--fade-in {
    @include fade-in(.3s);
  }

  &--fade-out {
    @include fade-out(.3s);
  }
}

.modal__dialog {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.modal__content {
  border-radius: 5px;
  overflow: hidden;
  transition: transform .3s;
  
  &--collapse {
    transform: translate3d(0, -50px, 0);
  }
}