.room {
  box-sizing: border-box;
  width: 100%; height: 100px;
  cursor: pointer;
  padding: 10px;
  overflow: hidden;

  &:hover {
    background: #f1f1f1;
  }

  &--selected {
    background: #f1f1f1;
  }
}

.room__picture {
  float: left;
  width: 80px; height: 80px;
  background: #ccc;
  border-radius: 50%;
  margin-right: 10px;
}

.room__info {
  position: relative;
  float: left;
  width: 238px; height: 100%;

  &::before {
    content: '';
    display: inline-block;
    width: 0px; height: 100%;
    vertical-align: middle;
  }
}

.room__info-center {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.room__name {
  line-height: 1.3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.1rem;
}

.room__last-message {
  line-height: 1.3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 1rem;
  color: #555;
}

.room__last-message-date {
  position: absolute;
  top: 0px; right: 0px;
  font-weight: 300;
  font-size: 0.9rem;
  color: #555
}