$header-height: 50px;
$content-height: calc(100vh - #{$header-height});
$friend-list-width: 70px;
$room-list-width: 350px;
$chat-width: calc(100vw - #{$friend-list-width} - #{$room-list-width});
$chat-header-height: 75px;
$chat-footer-height: 60px;
$chat-body-height: calc(100vh - #{$header-height} - #{$chat-header-height} - #{$chat-footer-height});

body {
  margin: 0px;
}

.header {
  position: relative;
  box-sizing: border-box;
  height: $header-height;
  border-bottom: 1px solid #ccc;
  padding: 8px 30px 8px 18px;
}

.search {
  position: relative;
  float: left;
  width: 400px; height: 100%;
  z-index: 2;

  &--loading .search__result {
    display: block;

    &::before {
      content: 'loading...';
      display: block;
      box-sizing: border-box;
      width: 100%; line-height: 45px;
      padding: 0px 8px;
    }
  }

  &--complete .search__result {
    display: block;
  }
}

.search__form {
  width: 100%; height: 100%;
}

.search__input {
  box-sizing: border-box;
  width: 100%; height: 100%;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
  padding: 0px 5px;
}

.search__result {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 100%; left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
}

.search__no-item {
  box-sizing: border-box;
  width: 100%; line-height: 45px;
  padding: 0px 8px;
}

.search__user-item {
  box-sizing: border-box;
  width: 100%; height: 45px;
  padding: 8px;

  &:hover {
    background: #efefef;
  }
}

.search__user-name {
  float: left;
  height: 100%;
  font-size: 1rem;

  &::before {
    content: '';
    display: inline-block;
    width: 0px; height: 100%;
    vertical-align: middle;
  }
}

.search__user-email {
  float: left;
  height: 100%;
  color: #777;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: lighter;

  &::before {
    content: '';
    display: inline-block;
    width: 0px; height: 100%;
    vertical-align: middle;
  }
}

.search__user-relationship {
  display: block;
  float: right;
  height: 100%;

  &::before {
    content: '';
    display: inline-block;
    width: 0px; height: 100%;
    vertical-align: middle;
  }
}

.current-user-info {
  float: right;
  height: 100%;

  &::before {
    content: '';
    display: inline-block;
    width: 0px; height: 100%;
    vertical-align: middle;
  }
}

.sign-in, .sign-out {
  display: none;
  float: right;
  height: 100%;
  cursor: pointer;
  vertical-align: middle;

  &:hover {
    text-decoration: underline;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 0px; height: 100%;
    vertical-align: middle;
  }

  &--active {
    display: block;
  }
}

.current-user {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  &:hover .current-user__nickname {
    text-decoration: underline;
  }
}

.current-user__picture {
  display: inline-block;
  width: 25px; height: 25px;
  background: #99f;
  margin-right: 7px;
  vertical-align: middle;
}

.current-user__nickname {
  display: inline-block;
  vertical-align: middle;
}

.delimeter {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 14px;
  font-weight: lighter;
}

.friendrequest-toggle {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.friendrequest-badge {
  display: none;
  position: absolute;
  top: 2px; right: -13px;
  width: 15px; height: 15px;
  border-radius: 50%;
  background: rgb(250, 78, 78);
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.3;
  text-align: center;
  
  &:before {
    content: '';
    display: inline-block;
    width: 0px; height: 100%;
    vertical-align: middle;
  }

  &--active {
    display: block;
  }
}

.friendrequest-list {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 85%; right: 70px;
  width: 320px;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 1px 1px 5px #ccc;
  cursor: default;

  &--active {
    display: block;
  }
}

.friendrequest {
  box-sizing: border-box;
  width: 100%; height: 45px;
  padding: 0px 8px;
  overflow: hidden;

  &:hover {
    background: #efefef;
  }
}

.friendrequest__nickname {
  float: left;
  height: 100%;
  font-size: 1rem;

  &:before {
    content: '';
    display: inline-block;
    width: 0px; height: 100%;
    vertical-align: middle;
  }
}

.friendrequest__buttons {
  float: right;
  height: 100%;

  &:before {
    content: '';
    display: inline-block;
    width: 0px; height: 100%;
    vertical-align: middle;
  }
}

.content {
  width: 100vw; height: $content-height;

  // clearfix
  &:after {
    content: ' ';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.friend-list {
  box-sizing: border-box;
  float: left;
  width: $friend-list-width; height: 100%;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.friend {
  position: relative;
  width: 100%; padding-top: 100%;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0px;
  }

  &--selected .friend__popover {
    display: block;
  }
}

.friend-content {
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
}

.friend__picture {
  width: 100%; height: 100%;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;

  &:active {
    transform: scale(0.93);
  }
}

.friend__popover {
  display: none;
  position: absolute;
  top: -15px; left: 110%;
  width: 213px; height: 80px;
  overflow: hidden;
  cursor: default;
  z-index: 1;
}

.friend__popover-triangle {
  position: relative;
  float: left;
  width: 13px; height: 100%;

  &::before, &::after {
    position: absolute;
    content: '';
    top: 50%; left: 0px;
    transform: translate3d(0, -50%, 0);
    width: 0px; height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 13px solid #ccc;
  }

  &::after {
    border-right: 13px solid #fff;
    transform: translate3d(1px, -50%, 0);
  }
}

.friend__popover-content {
  float: left;
  box-sizing: border-box;
  width: 200px; height: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.friend__nickname {
  box-sizing: border-box;
  line-height: 25px;
  border-bottom: 1px solid #dfdfdf;
  text-align: center;
  vertical-align: middle;
  background: #f5f5f5;
}

.friend__buttons {
  height: 51px;
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    width: 0px; height: 100%;
    vertical-align: middle;
  }
}

.room-list {
  box-sizing: border-box;
  float: left;
  width: $room-list-width; height: 100%;
  border-right: 1px solid #ccc;
  overflow: scroll;
}

.room {
  box-sizing: border-box;
  width: 100%; height: 100px;
  cursor: pointer;
  padding: 10px;
  overflow: hidden;

  &:hover {
    background: #f1f1f1;
  }
}

.room__picture {
  float: left;
  width: 80px; height: 80px;
  background: #ccc;
  border-radius: 50%;
  margin-right: 10px;
}

.room__info {
  position: relative;
  float: left;
  width: 238px; height: 100%;

  &::before {
    content: '';
    display: inline-block;
    width: 0px; height: 100%;
    vertical-align: middle;
  }
}

.room__info-center {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.room__name {
  line-height: 1.3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.1rem;
}

.room__last-message {
  line-height: 1.3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 1rem;
  color: #555;
}

.room__last-message-date {
  position: absolute;
  top: 0px; right: 0px;
  font-weight: 300;
  font-size: 0.9rem;
  color: #555
}

.chat {
  box-sizing: border-box;
  float: left;
  width: $chat-width; height: 100%;

  &--active .chat__room-info, &--active .chat__room-option {
    display: block;
  }
}

.chat__header {
  box-sizing: border-box;
  width: 100%; height: $chat-header-height;
  border-bottom: 1px solid #ccc;
  padding: 15px 20px;
  overflow: hidden;
}

.chat__room-info {
  display: none;
  height: 100%;
  float: left;
}

.chat__room-name {
  font-size: 1.3rem;
  line-height: 1.3;
}

.chat__room-detail {
  box-sizing: border-box;
}

.chat__room-option {
  float: right;
  display: none;
  height: 100%;
  
  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0px; height: 100%;
  }
}

.chat__user-icon {
  display: inline-block;
  font-size: 0.8rem;
  margin-right: 5px;
  color: #777;
}

.chat__user-number {
  display: inline-block;
  font-size: 0.8rem;
  color: #777;
}

.chat__body {
  box-sizing: border-box;
  width: 100%; height: $chat-body-height;
  overflow: scroll;
  padding: 20px 0px;
}

.chat__message {
  box-sizing: border-box;
  width: 100%; height: 72px;
  padding: 5px 20px;

  &::before {
    content: '';
    display: inline-block;
    width: 0px; height: 100%;
    vertical-align: middle;
  }

  &:hover {
    background: #f9f9f9;
  }
}

.chat__status-log {
  text-align: center;
  font-weight: lighter;
  font-size: 1rem;
  padding: 8px 0px;
}

.chat__message-picture {
  display: inline-block;
  vertical-align: middle;
  width: 50px; height: 50px;
  background: #ccc;
  margin-right: 10px;
  border-radius: 50%;
}

.chat__message-content {
  display: inline-block;
  vertical-align: middle;
}

.chat__message-header {
  margin-bottom: 2px;
}

.chat__message-sender {
  display: inline-block;
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 7px;
}

.chat__message-created-at {
  display: inline-block;
  font-weight: lighter;
  font-size: 0.9rem;
}

.chat__message-body {
  font-size: 1rem;
}

.chat__footer {
  box-sizing: border-box;
  width: 100%; height: $chat-footer-height;
  padding: 0px 15px 20px 15px;
}

.chat__form {
  width: 100%; height: 100%;
}

.chat__input {
  box-sizing: border-box;
  width: 100%; height: 100%;
  border: 2px solid #888;
  outline: none;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0px 8px;
}

.modal {
  position: absolute;
  top: 0px; left: 0px;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 3;

  &--active {
    display: block;
  }
}

.modal__dialog {
  position: absolute;
  top: 50%; left: 50%;
  width: 400px; height: 350px;
  transform: translate3d(-50%, -50%, 0);
  overflow: hidden;
  border-radius: 10px;
}

.modal__content-container {
  width: 200%; height: 100%;
  background: #fff;
  transition: transform .5s ease;

  &--next {
    transform: translate3d(-50%, 0, 0);
  }
}

.modal__content {
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 50%; height: 100%;
}

.modal__content-slider {
  font-weight: 300;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &--next {
    position: absolute;
    top: 310px; right: 30px;
  }

  &--back {
    position: absolute;
    top: 310px; left: 30px;
  }
}

.modal__header {
  box-sizing: border-box;
  height: 50px;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
}

.modal__title {
  float: left;
  vertical-align: middle;
  font-size: 1.7rem;
}

.modal__body {
  box-sizing: border-box;
  height: 300px;
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    width: 0px; height: 100%;
    vertical-align: middle;
  }
}

.form {
  display: inline-block;
  vertical-align: middle;
  width: 250px;
}

.form__member {
  width: 100%; height: 40px;
  margin-bottom: 20px;
}

.form__input {
  box-sizing: border-box;
  width: 100%; height: 100%;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1.3rem;
  padding: 5px 8px;
  font-weight: lighter;
}

.modal__close-button-wrap {
  float: right;
  height: 100%;

  &:before {
    content: '';
    display: inline-block;
    width: 0px; height: 100%;
    vertical-align: middle;
  }
}

.selected-user-list {
  box-sizing: border-box;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 300px; height: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  display: none;
  background: #fff;

  &--active {
    display: block;
  }
}

.selected-user-wrap {
  width: 100%; height: 90%;
  overflow: scroll;
}

.selected-user {
  box-sizing: border-box;
  width: 100%; height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  text-align: left;
  margin-bottom: 10px;

  &::before {
    content: '';
    display: inline-block;
    width: 0px; height: 100%;
    vertical-align: middle;
  }
}

.selected-user__checkbox {
  margin-right: 10px;
}

.selected-user__nickname {
  font-size: 1.2rem;
}

.button {
  &--close {
    
  }

  &--submit {
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
    padding: 8px 15px;
    font-size: 1rem;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background: #f5f5f5;
    }
  }

  &--friendrequest, &--accept-friend, &--decline-friend, &--message, &--remove-friend, &--invite-user, &--leave-room, &--confirm {
    display: inline-block;
    box-sizing: border-box;
    height: 25px;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    font-size: 0.9rem;

    &:hover {
      box-shadow: 1px 1px 5px #b0b0b0;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &--accept-friend {
    margin-right: 6px;
  }

  &--message {
    margin-right: 20px;
  }

  &--remove-friend {
    box-sizing: border-box;
    border: 1px solid #f55;
    color: #f55;

    &:hover {
      box-shadow: 1px 1px 5px #b0b0b0;
    }
  }

  &--invite-user {
    margin-right: 20px;
  }

  &--confirm {
    margin-top: 10px;
  }
}